*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}
body{
    height: auto;
    overflow-x: hidden;
}

/*--------- nav bar ----------*/
nav{
    height: 90px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #D41616;
    overflow: hidden;
    box-shadow: 0px 2px 4px #00000050;
}
nav img{
    width: 300px;
    height: 100%;
    background-color: #D9D9D9;
    margin: 0;
    padding: 15px;
    padding-top: 20px;

}
nav ul{
    margin-right: 0px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 35px 10px 35px 10px;
    position: relative;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}
nav ul li:hover {
    background-color: #9a1010;
}
/*responsive navbar*/
@media (max-width: 750px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    nav img {
        display: block;
        width: 255px;
        height: auto;
        margin-bottom: 10px;
        padding: 5px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    nav ul li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 10px;
        margin-bottom: 5px;
    }
}

/*-------- Universal Element ---------*/
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
#req-text{
    display: flex;
    justify-content: start;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding-left: 20%;
}
#req-text h4{
    font-size: 35px;
    font-weight: 500;
}
#req-line{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0;
}
#req-sm-line{
    display: flex;
    width: 100%;
    padding-left: 22%;
    margin-top: 0;
}
.line{
    height: 3px;
    width: 60%;
    background-color: #D41616;
}
.sm-line{
    height: 2px;
    width: 25%;
    background-color: #D41616;
    margin-bottom: 20px;
}
div#status-text:nth-child(1){
    margin-top: 100px;
}

#status-text {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
    padding-left: 22%;
}
#status-text h4{
    font-size: 23px;
    font-weight: 400;
    margin-right: 10px;
}

/*----------- เพิ่มคำร้อง ----------*/
.add-req{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
/*-------- เมนูเพิ่มคำร้อง ----------*/
#req-menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.req-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 55%;
    padding: 10px 15px 10px 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 25px;
}
.req-menu h4{
    font-size: 18px;
    font-weight: 400;
    padding: auto;
}
.create-req{
    width: fit-content;
    height: auto;
    margin-right: 5px;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37673d;
    border-radius: 5px;
    cursor: pointer;
}
.create-req h4 {
    padding: 0px 5px 0px 5px;
    font-size: 15px;
    font-weight: 300;
}
.create-req .bi {
    padding: 0px 5px 0px 5px;
    font-size: 20px;
    padding: 5px;
}

.create-req:hover {
    background-color: #235428;
    box-shadow: 0px 0px 5px #f2074293;
}
/*--------- สถานะคำร้อง ---------*/
h4.req-status-date{
    font-size: 17px;
    font-weight: 300;
}
.req-status-menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 0;
}


/*--------- footer -----------*/
.footer{
    height: 100px;
    width: 100%;
}